<!doctype html>
<html>
    <head>
        <title>{% block title %}Vortaro{% endblock %}</title>
        <meta charset="utf-8">
        {% block head %}{% endblock %}
        {% stylesheet-tag "milligram.min.css" %}
    </head>
    <body>
        <nav class="container">
            {% block nav %}
                <a href="/" title="Home">Vortaro</a>
                {% block search %}
                    <form action="/serĉi" method="POST">
                        <input type="text" name="demando" placeholder="Serĉu" autofocus />
                    </form>
                {% endblock %}
            {% endblock %}
        </nav>
        <main class="container">
            {% block main %}{% endblock %}
        </main>
        <footer class="container">
            {% block footer %}
                vortaro.org created by <a href="http://fisxoj.net">fisxoj</a> and builds on the work of many others.  <a href="/thanks">Thanks!</a>
            {% endblock %}
        </footer>
    </body>
</html>
